In [1]:
from datetime import datetime
import pandas as pd
import requests
import numpy as np
import re 
data_atual = datetime.now()
data_formatada = data_atual.strftime("%Y-%m-%d")

In [2]:
url = "https://api.pipefy.com/graphql"
query = '''
{
allCards(pipeId: 301771911 last: 10 filter: {field: "updated_at", operator: gte, value: "DATE.T00:00:00-00:00",  AND: [{field: "updated_at", operator: lte, value: "DATE.T23:59:59-00:00"}]}
) {
    edges {
    node {
        id
        title
        
        fields {
        name
        value
        }
        phases_history {
        phase {
            name
        }
        firstTimeIn
        lastTimeOut
        }
    }
    }
    pageInfo {
    hasNextPage
    endCursor
    }
}
}
'''
query = query.replace('DATE.',data_formatada)
payload = {"query": query}
headers = {
"accept": "application/json",
"content-type": "application/json",
"authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJ1c2VyIjp7ImlkIjozMDEzMzIyNzcsImVtYWlsIjoiZmluYW5jZWlyb0Bjcm51dHJpdGlvbi5jb20uYnIiLCJhcHBsaWNhdGlvbiI6MzAwMjMwMjIyfX0.fadwG2-bJWS23XlgqEGDE18el9cBybcQWF0vcMBFMk5EdBgtrPgTyLCLz-_yJtmFsEjAN8HCwGP30aypfDkcBA"
}
response = requests.post(url, json=payload, headers=headers)

In [3]:
df_pipefy = pd.json_normalize(response.json(),record_path=['data','allCards','edges']
                                #,meta=[['allCards','edges','node','id']],errors='ignore'
                                )

In [4]:
df_length = df_pipefy.shape
print(df_length)

(10, 4)

In [5]:
df_pipefy.drop(df_pipefy.columns[[1,2,3]], axis=1,inplace=True)
df_pipefy

     node.id
0  777418793
1  777459213
2  776847605
3  776862779
4  776891851
5  777224869
6  777303982
7  777305598
8  777359797
9  777438346

In [6]:
df_pipefy2 = pd.json_normalize(response.json(),record_path=['data','allCards','edges',['node','fields']]
                            ##,meta=[['allCards','edges','node','id']],errors='ignore'
                            )

In [8]:
df = df_pipefy2
new_rows = []
prev_row_has_anexo = False
for index, row in df.iterrows():
    if row['name'] == 'Prioridade ' and not prev_row_has_anexo:
        new_rows.append(['Anexo', '[]'])
    new_rows.append(row.tolist())
    if row['name'] == 'Anexo':
        prev_row_has_anexo = True
    else:
        prev_row_has_anexo = False

df_pipefy2 = pd.DataFrame(new_rows, columns=df.columns)

# Remover linhas com valor 'Número de telefone' na coluna 'value'
df_pipefy2 = df_pipefy2[df_pipefy2['name'] != 'Número de telefone']

# Dividir o DataFrame em subsets de 10 linhas
subsets = np.array_split(df_pipefy2, len(df_pipefy2) // 10)


# Ordenar cada subconjunto do DataFrame
categorias = ['Data', 'Email',  'Adicione a Prioridade', 'Empreendimento',
            'Nome do solicitante', 'Modulo do Sistema', 'Tipo de Chamado', 'Descreva a necessidade',
            'Anexo', 'Prioridade']

for subset in subsets:
    subset.sort_values(by='name', key=lambda x: pd.Categorical(x, categories=categorias, ordered=True), inplace=True)

# Concatenar verticalmente cada subconjunto do DataFrame
df_sorted = pd.concat(subsets)

In [9]:
pivot2 = df_sorted.T

In [11]:
sub_dfs = np.array_split(pivot2.values, len(pivot2.columns) // 10, axis=1)

# transformando cada sub-DataFrame em um DataFrame e juntando em um só
df_pipefy3 = pd.concat([pd.DataFrame(sub) for sub in sub_dfs], axis=0, ignore_index=True)



# transformando a primeira linha em cabeçalho
new_header = df_pipefy3.iloc[0]
df_pipefy3 = df_pipefy3[1:]
df_pipefy3.columns = new_header

# excluindo as linhas ímpares
df_pipefy3 = df_pipefy3.iloc[::2]

In [13]:
merge1 = df_pipefy3
merge1.reset_index(drop=True, inplace=True)
merge1.head()

,Data,Email,Adicione a Prioridade,Empreendimento,Nome do solicitante,Modulo do Sistema,Tipo de Chamado,Descreva a necessidade,Anexo,Prioridade
0,17/08/2023,joao.luis@ngweb.net.br,"[""Urgente"", ""Média""]",Todos Empreendimentos,teste bruno,Dashboard,"[""Duvida"", ""Problema"", ""Solicitacao""]",teste bruno,[],"[""Média"", ""Urgente""]"
1,17/08/2023,onlyboss2019@gmail.com,"[""Alta""]",Nutra Fit Aricanduva,victor marques,Estoque - Reposicao de Lojas,"[""Solicitacao""]",numero da nota: 3391,[],"[""Alta""]"
2,16/08/2023,nutravillalobos@outlook.com,"[""Média""]",Nutra Fit Villa Lobos,thiago,Produtos,"[""Solicitacao""]",Boa noite! Corrigir divergencias por favor: \n...,[],"[""Média""]"
3,16/08/2023,nutravillalobos@outlook.com,"[""Média""]",Nutra Fit Villa Lobos,thiago,Produtos,"[""Solicitacao""]",Olá! Corrigir divergencias por favor:\n\n\nPRO...,[],"[""Média""]"
4,16/08/2023,nutrafititaquera@gmail.com,"[""Alta""]",Nutra Fit Itaquera,FELIPE SILVA RAMOS,Estoque - Entrada de produtos,"[""Solicitacao""]",Boa noite!!\n\nSolicito a inclusão de alguns p...,[],"[""Alta""]"

In [14]:
merge = pd.merge(df_pipefy,merge1, right_index=True, left_index=True)

In [15]:
def remover_marcações(texto):
    return re.sub(r'\W+', ' ', texto)

merge['Descreva a necessidade']= merge['Descreva a necessidade'].apply(remover_marcações)

In [16]:
colunas_limpeza = [3, 7, 9,10]
 # loop para aplicar a limpeza em todas as colunas da lista
for coluna in colunas_limpeza:
    merge.iloc[:, coluna] = merge.iloc[:, coluna].apply(lambda x: str(x).
                                                        replace('[','').replace(']','').replace('"',''))

In [17]:
merge = merge.drop(merge.columns[[1,2,8,9]], axis=1)

In [18]:
merge = merge[['node.id','Nome do solicitante','Prioridade ','Empreendimento','Modulo do Sistema','Tipo de Chamado']]

In [19]:
merge

,node.id,Nome do solicitante,Prioridade,Empreendimento,Modulo do Sistema,Tipo de Chamado
0,777418793,teste bruno,"Média, Urgente",Todos Empreendimentos,Dashboard,"Duvida, Problema, Solicitacao"
1,777459213,victor marques,Alta,Nutra Fit Aricanduva,Estoque - Reposicao de Lojas,Solicitacao
2,776847605,thiago,Média,Nutra Fit Villa Lobos,Produtos,Solicitacao
3,776862779,thiago,Média,Nutra Fit Villa Lobos,Produtos,Solicitacao
4,776891851,FELIPE SILVA RAMOS,Alta,Nutra Fit Itaquera,Estoque - Entrada de produtos,Solicitacao
5,777224869,Guilherme,Urgente,Nutra Fit Mazzei,Vendas,Solicitacao
6,777303982,Celeste,Urgente,CR Nutrition,Importacao de Vendas,Solicitacao
7,777305598,Thiago,Alta,Nutra Fit Villa Lobos,Estoque - Entrada de produtos,Solicitacao
8,777359797,kaique amâncio,Alta,Nutra Fit Alphavile,Estoque - Reposicao de Lojas,Solicitacao
9,777438346,Leticia Messias,Alta,Fit Market Ibirapuera,Estoque - Entrada de produtos,Solicitacao

In [21]:
df_pipefy3 = pd.json_normalize(response.json(),record_path=['data','allCards','edges',['node','phases_history']])
df = df_pipefy3

In [22]:
df_firstTimeIn = df[['firstTimeIn', 'phase.name']].rename(columns={'firstTimeIn': 'datetime'})
df_lastTimeOut = df[['lastTimeOut', 'phase.name']].rename(columns={'lastTimeOut': 'datetime'})

In [25]:
df_lastTimeOut['phase.name'] = df_lastTimeOut['phase.name'] + ' - end'

In [26]:
df_firstTimeIn['datetime'] = pd.to_datetime(df_firstTimeIn['datetime'])
df_lastTimeOut['datetime'] = pd.to_datetime(df_lastTimeOut['datetime'])

In [27]:
df_lastTimeOut = df_lastTimeOut.set_index('phase.name')
df_firstTimeIn = df_firstTimeIn.set_index('phase.name')

In [28]:
df_lastTimeOut = df_lastTimeOut.T
df_firstTimeIn = df_firstTimeIn.T